.img {
    background-image:banner.jpg  500%;
    
}

body{
 margin 0;
padding 0; 
font-family: sans-serif;
background: #34495e;    
}
.box{
width: 300px;
padding: 40px;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%,-50%);
background: #191919;
text-align: center;
}

.box h1{
    color: aliceblue;
    text-transform: uppercase;
    font-weight: 500;
    
}

.user {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #3498db;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: aliceblue;
    border-radius: 24px;
    transition: 0.25%;
}
.bass{
    
     border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #3498db;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: aliceblue;
    border-radius: 24px;
    transition: 0.25%;
    
    
}  

.user:focus,.bass:focus{
    width: 280px;       
    border-color:#2ecc71;
}   
.log {
    
    
      border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #3498db;
    padding: 14px 10px;
    width: 100px;
    outline: none;
    color: aliceblue;
    border-radius: 24px;
    transition: 0.25%;
    border-color:#2ecc71;
    
    
}  
.log:hover{
    background:#2ecc71; 
}   
